.list_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 0, 0, 0.05);
    margin: 15px 0px;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 50%);
}
.container {
    max-width: 800px;
    margin: auto;
}
.list_view {
}
.title {
    font-size: 18px;
    font-weight: 600;
}
.desc {
}
.date {
}
.todo_btn {
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0, 0.5);
}
.danger {
    background: red;
}
.success {
    background: #028102;
    color: white;
    border: none;
}
.text_body {
}
.table_row {
    max-width: 800px;
}
table {
    width: 100%;
    display: table;
    border-collapse: collapse;
}
tr {
}
th,
td {
    border-top: 1px solid rgb(0, 0, 0, 0.2);
    text-align: left;
    padding: 10px;
}
