.square {
    border: none;
    background: white;
    color: black;
    width: 10vw;
    height: 10vw;
    cursor: pointer;
    border: 1px solid black;
    border-collapse: collapse;
    overflow: hidden;
    font-size: 9vw;
    align-items: center;
    padding: 5px;
}

.x_hover:hover::after {
    content: "X";
    opacity: 0.4;
}
.o_hover:hover::after {
    content: "O";
    opacity: 0.4;
}
.x_back {
    background: rgb(200, 255, 250);
}
.o_back {
    background: rgb(243, 255, 200);
}
.status_info {
    margin-top: 20px;
    /* color: white; */
    font-size: 24px;
}
.clickValue button {
    background: rgb(0, 179, 80);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}
.clickValue button:hover {
    background: rgb(0, 100, 25);
    color: white;
}
.clickValue {
    margin-top: 15px;
}
.boardRow {
    display: inline-block;
    text-align: center;
    align-items: center;
}
.winning_status {
    font-size: 24px;
    font-weight: 700;
}
